body {
  overscroll-behavior: none;
}

.options {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
}

.root {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 10px;
}

#panels-root {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.toolbar {
  flex: 0 1 0;
  margin-top: 10px;
  display: grid;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  font-family: monospace;
  justify-items: stretch;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 10px;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  /* background-color: pink; */
}

#randomize-button {
  grid-row-start: 1;
  grid-row-end: span 2;
  background-color: lightblue;
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
}

#randomize-button:active {
  background-color: orange;
}

input[type="text"] {
  font-family: monospace;
  /* width: 100px; */
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: inline-flex;
  flex-direction: row;
}

.panel-sizer {
  background-color: red;
  min-width: 0;
  min-height: 0;
  flex: 1 1 0;
  /* overflow: visible; */
  border: 1px solid black;
  position: relative;
}

#separator {
  width: 10px;
  height: 10px;
  flex: 0 1 auto;
}

#expected {
  background-color: #E4FFB9;
}

#actual {
  background-color: #B5DEFF;
}

.tile {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 48px;
  background-color: cornflowerblue;
}

.tile:nth-child(2) {
  font-size: 72px;
}

.panel {
  /* display: none !important; */
}
